# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/deploy
/config/database/Main.db
/config/database/Min.db
/config/database/Sqlite3/Backup.db
/config/database/Sqlite3/Main.db
/daemon
/copy-db.bat
/db changes.txt
/service.js
