* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.headers-conteiner {
    width: 99vw;
    height: 40px;
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 1001;
    padding-top: 25px;
    margin-left: 2vw;
}
.headers {
    display: flex;
    width: 99vw;
    list-style: none;
    align-items: center;
}

table {
    border-collapse: separate;
    margin-left: 2vw;
    position: relative;
    top: 55px;
    text-align: center;
    border-spacing: 0;
}

.home-icon {
    display: flex;
    align-items: center;
    position: fixed;
    left: 90vw;
    gap: 3px;
    z-index: 1002;
    background-color: white;
    height: 40px;
    padding-top: 30px;
}

.home-icon img{
    height: 30px;
    width: 30px;
}

.li-id, .li-name, .li-cnpj, .li-ccp, .li-mun, .li-status {
    text-align: center;
    background-color: rgb(3, 155, 229);
    font-size: 20px;
    color: white;
    padding: 2px 2px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.li-id {
    border-left: 2px solid black;;
}

td {
    padding: 5px 5px;
    border-top: 2px solid rgb(170, 170, 170);
    border-right: 2px solid rgb(170, 170, 170);
}

.li-id, .td-id, .li-ccp, .td-ccp {
    width: 6vw;
}

.li-cnpj, .td-cnpj, .td-mun, .li-mun {
    width: 15vw;
}

.li-name, .td-name {
    width: 35vw;
}

.li-status, .td-status {
    width: 7vw;
}

tr:hover, .selected {
    background-color: rgb(3, 155, 229, 0.3)!important;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 45vh;
    left: 88.5vw;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

button  {
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: rgb(3, 155, 229);
    padding: 0px 10px;
    color: white;
    border: 2px solid black;
    width: 120px;
    padding: 3px 0px;
}

form button[type='submit']:hover {
    background-color: rgb(236, 240, 241);
    cursor: pointer;
    color: black;
    transition: 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(3, 155, 229);
}

.overlay-form, .overlay-message, .overlay-confirm {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 1002;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    top: 0;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    background-color: white;
    height: fit-content;
    width: 35vw;
    border: 2px solid black;
    border-radius: 16px;
    justify-content: center;
    padding: 1em;
}

form input {
    text-align: center;
    font-size: 15px;
    height: 2em;
    width: 90%;
}

form button {
    padding: 2px 5px;
    background-color: rgb(3, 155, 229);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 17px;
}

form label {
    font-size: 1.2em;
}

form > textarea {
    width: 90%;
    resize: none;
    height: 10em;
    font-size: 15px;
    padding: 0.5em;
    line-break: anywhere;
    font-weight: normal;
}

.close-form {
    background-color: red;
    color: white;
    border: 2px solid black;
    width: min-content;
    border-radius: 0;
    align-self: flex-end;
    margin: 0 15px;
    font-size: 15px;
}

.close-form:hover {
    background-color: red;
    color: white;
}

.close-message {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0;
    padding: 0 5px;
    font-size: 20px;
    position: fixed;
    top: 37vh;
    left: 62vw;
    z-index: 1001;
    width: fit-content;
}

.close-message:hover {
    background-color: white;
    color: black;
}

.close-form:hover, .close-message:hover {
    cursor: pointer;
}

#success, #error {
    width: 30vw;
    min-height: 20vh;
    border: 2px solid black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35vh;
    left: 35vw;
    border-radius: 15px;
    font-size: 20px;
    color: white;
}

#success {
    background-color: rgb(0,153,0);
}

#error {
    background-color: rgb(227,0,34);
}

#error > p {
    overflow: hidden;
    overflow-wrap: break-word;
    padding: 10px 10px;
    width: 80%;
    text-align: center;
}

.no-items {
    width: 56vw;
}

.show {
    display: flex;
    opacity: 1;
}

.hide {
    display: none;
    opacity: 0;
}

.even {
    background-color: rgb(204,209,209);
}

.even > td:first-child , .odd > td:first-child {
    border-left: 2px solid rgb(170, 170, 170);
}

.comments > img {
    width: 25px;
    height: 15px;
    margin-left: 0.5em;
}

.comments {
    display: inline-grid;
    text-align: center;
    position: absolute;
}

[data-comment]:hover::after {
    content: attr(data-comment);
    font-size: 15px;
    border: 1px solid black;
    background-color: rgb(251, 251, 214);
    color: black;
    padding: 0.5em;
    position: relative;
    left: -9em;
    display: inline-block;
    width: 15em;
    min-height: fit-content;
    word-wrap: break-word;
    top: 0.5em;
    z-index: 10005;
}

.user-option {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 1em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    text-align: center;
}

.user-option > div {
    display: flex;
    justify-content: space-evenly;
}

#button-yes, #button-no {
    font-size: 20px;
}

#button-yes:hover, #button-no:hover {
    color: white;
}

#button-yes {
    background-color: rgb(50, 205, 50);
}

#button-no {
    background-color: red;
}
