<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/home.css"/>
    <link rel="icon" type="image/x-icon" href="/images/controller.ico">
    <script src="/js/home-js.js" defer></script>
    <title>HOME</title>
</head>
<body>
    <div class="conteiner">
        <div data-title="CONSULTAR STATUS DAS TPI's NO SICABOM" data-href="/consulta-tpi" class="card">
            <img src="images/fenix.png"/>
        </div>
        <div data-title="CONSULTAR PENDÊNCIAS NA PREFEITURA" data-href="/consulta-ccp" class="card">
            <img src="images/prefeitura-logo.png"/>
        </div>
        <div data-title="CNPJ's CADASTRADOS" data-href="/cnpjs-crud" class="card">
            <img src="images/business.png"/>
        </div>
        <div id="overlay" style="display: none;">
            <div>
                <p> AGUARDE...<br>
                    ISTO PODE LEVAR ALGUNS MINUTOS
                </p>
                <div class="loader">
            </div>
        </div>
    </div>
</body>
</html>