<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/app-consulta/css/home.css"/>
    <link rel="icon" type="image/x-icon" href="/app-consulta/images/controller.ico">
    <script src="/app-consulta/js/home-js.js" defer></script>
    <title>HOME</title>
</head>
<body>
    <div class="conteiner">
        <div class="card">
            <a href="/app-consulta/consulta-tpi">
                <img src="/app-consulta/images/fenix.png"/>
                <p class="card-title">CONSULTAR STATUS DAS TPI's NO SICABOM</p>
            </a>
        </div>
        <div class="card">
            <a href="/app-consulta/consulta-ccp">
                <img src="/app-consulta/images/prefeitura-logo.png"/>
                <p class="card-title">CONSULTAR PENDÊNCIAS NA PREFEITURA</p>
            </a>
        </div>
        <div class="card">
            <a href="/app-consulta/cnpjs-crud">
                <img src="/app-consulta/images/business.png"/>
                <p class="card-title">CNPJ's CADASTRADOS</p>
            </a>
        </div>
        <div class="card">
            <a href="/php/empresas">
                <img src="/app-consulta/images/clients.png">
                <p class="card-title">EMPRESAS CADASTRADAS</p>
            </a>
        </div>
        <!-- <div class="card">
            <a href="#">
                <img src="/app-consulta/images/clients.png">
                <p class="card-title">teste</p>
            </a>
        </div> -->
        <div id="overlay" style="display: none;">
            <div>
                <p> AGUARDE...<br>
                    ISTO PODE LEVAR ALGUNS MINUTOS
                </p>
                <div class="loader">
            </div>
        </div>
    </div>
</body>
</html>